:root {
    // COLORS
    --accent: #FF6B08;
  
    // For background
    --main-bgd-color: #E5E5E5;
    --bgd-accent: #f1f1f1;
  
    // For text
    --main-text-color: #000000;
    --error: #FF001B;
    --deepdark-text-color: #545454;
    --light-text-color: #ffffff;
  
    // TRANSITION
    --transition: 250ms linear;
  }