div.tui-pagination {
  height: 40px;
  margin-top: 40px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
      margin-top: 60px;
  }
}

div.tui-pagination .tui-page-btn {
  color: #333;
  font-size: 12px;
  border: none;
}

div.tui-pagination .tui-page-btn:hover {
  color: #fff;
  background: #FF6B08;
  border-radius: 5px;
}

div.tui-pagination .tui-is-selected, .tui-pagination strong {
  color: #fff;
  cursor: pointer;
  background: #FF6B08;
  border-color: #FF6B08;
  border-radius: 5px;
}

.tui-pagination .tui-is-selected:hover {
  background-color: #FF6B08;
}

